<mat-sidenav-container class = "app-sidenav-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-list>
      <hr>
      <mat-list-item><mat-icon>home</mat-icon><a routerLink="home" (click)="navClick('Home')" routerLinkActive="active" class="anchor_class">Home</a></mat-list-item>
      <hr>
      <mat-list-item><mat-icon>person</mat-icon> <a routerLink="profile" (click)="navClick('Profile')" routerLinkActive="active" class="anchor_class">Profile</a></mat-list-item>
      <hr>
      <mat-list-item><mat-icon>image</mat-icon><a routerLink="gallery" (click)="navClick('Gallery')" routerLinkActive="active" class="anchor_class">Gallery</a></mat-list-item>
      <hr>
      <mat-list-item><mat-icon>phone</mat-icon><a routerLink="contacts" (click)="navClick('Contacts')"routerLinkActive="active" class="anchor_class">Contacts</a> </mat-list-item></mat-list>
    <hr>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <mat-toolbar>
      <mat-icon>menu</mat-icon>
      {{currentNav}}
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
